@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
//colors
$superBack: #363434;
$backFont: #5a5858;
$backPadding: #979393;
$anotherFontcolor: #f5ebeb;


//fonts
$robotThin: 'Roboto', sans-serif;
$mons400: 'Montserrat', sans-serif;

.logoname{
    font-family: 'Roboto', sans-serif;
    font-size: 3.3rem;
    color: #1877f2;
    font-weight: 800;
    letter-spacing: 2px;
}
body{
    background-color: #f5f5f5;
}
.comment-input{
    width: 90%;
    border: none;
    background-color: $backFont;
    padding: 10px 12px;
    margin: 0 auto;
    border: 1px solid $backPadding;
    border-radius: 10px;
    outline: none;
    font-family: sans-serif;
font-size: 1.1rem;
color: white;
}
.comment-input::placeholder{
color: $anotherFontcolor;
letter-spacing: 1px;
font-family: sans-serif;
font-size: 1.1rem;
}
.comment-bx{
text-align: center;
margin-bottom: 20px;
}
.hiddenbx{
    display: none;
}
.koment-bx{
display: flex;
align-items: flex-start;

margin-bottom: 20px;
flex-direction: column;
}
.koment-litbx{
width: 90%;
background-color: $superBack;
border-radius: 10px;
padding: 10px;
margin: auto;
}
.koment-name{
    font-family: sans-serif;
    color: $anotherFontcolor;
}
.koment-clicks{
    display: flex;
    justify-content: flex-start;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 8%;
}
.kom-btn{
    cursor: pointer;
    margin-right: 13px;
    font-size: 0.9rem;
}
.kom-btn:hover{
    filter: invert(1)
}
@import './profilepage.scss';
@import './createPostOpen.scss';
@import './timeline.scss';
